.submit-form {
  font-family: "Courier New", Courier, monospace;
  color: lime;
}

h4{
    font-family: 'Courier New', Courier, monospace;
    color: lime;
}

.title{
    font-family: 'Courier New', Courier, monospace;
    color: lime;
}

input{
    font-family: 'Courier New', Courier, monospace;
    color: lime;
}

p{
    font-family: 'Courier New', Courier, monospace;
    color: lime;
}

strong{
    font-family: 'Courier New', Courier, monospace;
    color: lime;
}

button{
    font-family: 'Courier New', Courier, monospace;
}
